/* Write all the necessery css  */
body{
    text-align: center;
}
#create>form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    width: 40%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}
input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #d4c21b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #b6a539;
}
table{
    text-align: center;
    margin: auto;
    width: 80%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color:black;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d4c21b;
  color: white;
  text-align: center;
}

